$base-color:  #333B45;
$primary-color: #222831;
$secondary-color: #D65A31;
$background-color: #2F3842;
$msg-response: #526274;
$msg-sent: #3C454F;
$text-field-color: #37414D;
$error-color: #B41B1B;
$correct-color: #44A642;
$summoner-background: #27313E;




