$base-color: linear-gradient(140.24deg, #092D45 0%, #000000 100%);
$primary-color: #2A3747;
$secondary-color: #D65A31;
$nav-color: linear-gradient(269.99deg, #000000 0%, rgba(4, 97, 159, 0) 99.63%);
$msg-response: #526274;
$msg-sent: #526274;
$text-field-color: #324052;
$error-color: #B41B1B;
$correct-color: #44A642;
$summoner-background: #2A3A4E;
$row-grid-dark: #334964;
$row-grid-light: $summoner-background;

