@use './variables.scss';
@use './base/breakpoints';
@use 'sass:map';

.font__bold {
    font-weight: bold;
    font-family: Roboto;
    cursor: pointer;
}

.opacity__low {
    font-family: Roboto;
    opacity: 80%;
}


.container {

    display: flex;
    width: 100%;

    @media (max-width:  map.get(breakpoints.$breakpoints, 'table')){
        flex-direction: column;
    }

    max-height: calc(100vh - 65px);
    min-height: calc(100vh - 65px);

    .left__column {

        padding-top: 2rem;
        background: variables.$primary-color;
        width: 415px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-shrink: 0;


        > p {
            font-family: Roboto;
            padding: 1rem 2rem;
        }

        .finish__bottom {
            position: relative;
            bottom: 0;
            background: variables.$secondary-color;
            cursor: pointer;
            padding: .2rem;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 4rem;
            margin-top: auto;
            font-size: 2rem;
        }

        .summoners__container {
            width: 100%;
            margin-bottom: 2rem;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            overflow: auto;
        }


        @media (max-width:  map.get(breakpoints.$breakpoints, 'table')){
            width: 100%;
            min-height: 380px;

            .summoners__container{
                flex-direction: row;
                padding: 0 1rem 1rem 1rem  ;
                overflow: auto;

                > * {
                    margin-left: 1rem;
                    margin-right: 1rem;
                }

            }

            .finish__bottom {
                display: none;
            }
        }
    }

    .chat__container {
        padding: 1.2rem;
        width: 100%;
        flex-grow: 1;
        display: flex;

        .chat__background {
            display: flex;
            flex: 1;
            background: variables.$primary-color;
            border-radius: 40px;
            flex-direction: column;

            .col__response {
                margin-right: left;
                justify-content: flex-start;
                margin-right: auto;
                display: flex;
            }

            .form {
                margin-top: auto;
                align-self: flex-end;
                width: 100%;
            }

            .col__sent {
                display: flex;
                justify-content: flex-end;
            }

            .messages__container {
                overflow: auto;
                align-content: flex-end;
                align-items: flex-end;
                height: 100%;
                display: flex;
                flex-direction: column-reverse;
            }

            textarea:focus, input:focus{
                outline: none;
            }

            .text__field {
                border: none;
                color: white;
                display: flex;
                align-items: center;
                padding-left: 2rem;
                padding-right: 2rem;
                margin-top: 50px;
                width: 100%;
                font-family: Roboto;
                border-radius: 40px;
                height: 50px;
                background: variables.$text-field-color;
            }

            .chat__bubble {
                max-width: 90%;
                padding: .8rem 1rem;
                margin: 1rem 1.5rem;
                background: variables.$msg-sent;
                border-radius: 20px;
                font-family: Roboto;

                &.response {
                    background: variables.$text-field-color;
                }

                p {
                    margin: 0;
                    overflow-wrap: anywhere;
                }
            }
        }
    }
}

