@use './variables.scss';



.navbar {

    a:hover {
        color: white;
    }

    height: 65px;
    background: variables.$primary-color;
    font-size: 24px;
    display: flex;
    align-items: center;

    ul {
        display: flex;
        margin: 0px;
        list-style-type: none;
        justify-content: flex-end;
        width: 100%;
        height: 100%;
        align-items: center;

        .command__bottom {

            cursor: pointer;

            @media (max-width: 620px){
                display: none;
            }
        }

        li {
            margin: 0px 1.5rem 0px 1.5rem;
        }

        li:first-child {
            margin-right: auto;
            margin-left: 0px;
        }

        li:last-child {
            background-color: variables.$secondary-color;
            height: 100%;
            margin: 0px;
            margin-left: 1.5rem;
            display: flex;
            align-items: center;
            padding: 0px 15px 0px 15px;
        }

    }


}
