@use './variables.scss';

.border__20 {
    border-radius: 20px;
}

.container {

    @keyframes expand {
        from {
            transform: scale(0);
            opacity: 0;
            background: #5470B0;
        }
    }

    animation: expand .5s ease-in-out;
    background: variables.$summoner-background;
    margin: 2rem 1rem;
    filter: drop-shadow(0px 2px 2px black);

    .btn__container {

        display: flex;
        grid-column: span 3;


        .btn__join {
            cursor: pointer;
            padding: .3rem;
            background: variables.$secondary-color;
            color: white;
            text-align: center;
            border-radius: 20px;
            margin: 1rem 0 1rem 1.6rem;
            padding: .3rem .5rem;

        }
    }

    p, a {
        overflow-wrap: anywhere;
        font-family: Roboto;
        margin: 0;
    }

    a {
        padding-left: 1rem;
    }


    a:hover {
        color: white;
    }

    .tittle {
        padding: 2rem 2rem 0 2rem;
        font-size: 1.1rem;
    }

    .subtittle {
        font-size: .8rem;
        opacity: 0.8;
        margin: 0 2rem;
    }


    .grid {
        display: grid;
        height: 100%;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 2fr 1fr 1fr;


        .border__r {
            border-bottom-right-radius: 20px !important;
        }

        .border__l {
            border-bottom-left-radius: 20px !important;
        }

    }

    .light {
        background-color: variables.$row-grid-light;
    }

    .dark {
        background-color: variables.$row-grid-dark;
    }

    .soloq {
        grid-column: 2 / span 1;
    }

    .flex {
        grid-column: 3 / span 1;
    }
}
