@use './variables.scss';


.hover__effect {
    position: relative;
* {
  transition: all 0.3s ease-out;
}
  &:hover {
    transition: all 0.2s ease-out;
    top: -4px;
    background-color: lighten(variables.$summoner-background, 1%);
  }

  &:hover:before {
    transform: scale(2.15);
  }
}

.account__selected {
    top: -4px !important;
    background-color: lighten(variables.$summoner-background, 2%) !important;
    filter: none !important;
}

.cursor__pointer {
    cursor: pointer;
}

.container {

    @keyframes expand {
        from {
            transform: scale(0);
            opacity: 0;
            background: #5470B0;
        }
    }

    background-color: variables.$summoner-background;
    margin-top: 2rem;
    border-radius: 50px;
    padding: 1rem;
    filter: drop-shadow(0px 2px 2px black);
    animation: expand .5s ease-in-out;

    .grid {
        display: grid;
        height: 100%;
        grid-template-rows:  min-content repeat(1, 1fr);
        grid-template-columns: 1fr 2fr;
    }


    .ranked__data {
        display: flex;
        width: 100%;
        grid-row: span 1;
        grid-column: span 1;

        p {
            margin-top: 5px;
        }
    }

    .name {
        margin-left: 1rem;

            max-width: 215px;
            min-width: 215px;

        .subtitle {
            opacity: 70%;
            font-size: .8rem;
        }

        grid-column: span 1;

        a {
            font-size: 1.2rem;
            justify-content: flex-start;
            overflow: hidden;
            max-height: 50px;
            text-decoration: none;

        }

        p {
            font-size: 1.2rem;
            justify-content: flex-start;
            overflow: hidden;
            max-height: 50px;
            text-decoration: none;
        }

        a:hover {
            color: white;
        }
    }

    .ranked__column {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-left: auto;
    }

    a, p {
        font-family: Roboto;
        font-size: 1rem;
    }


    .profile__picture {
        min-width: 100px;
        min-height: 100px;
        border-radius:  50px;
        grid-row: span 2;

    }

    .summoner__info {
        display: flex;
        flex-direction: column;
    }

    .correct {
        cursor: pointer;
        border-style: solid;
        border-color: variables.$correct-color;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .lines {
        display: inline-block;
        transform: rotate(42deg);
        height: 20px;
        width: 15px;
        margin-bottom: 5px;
        border-bottom: 5px solid variables.$correct-color;
        border-right: 5px solid variables.$correct-color;
    }

    .incorrect{
        position: absolute;
        margin-left: -20px;
        margin-top: -30px;
        cursor: pointer;
        margin-right: 15px;
        border-style: solid;
        color: variables.$error-color;
        border-color: variables.$error-color;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
    }

    .tag__leader {
        position: absolute;
        left: 80%;
        top: 0;

    }

}
